.planty-homepage-container {
    width: auto;
    margin-right: 40px;
}

.planty-homepage {
    border-radius: 10px;
    box-shadow: 0 0 15px 2px aqua;
    height: 30rem;
}

.planty-project-details {
    margin-top: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.planty-paragraphs {
    text-align: center;
    width: 35%;
}

#planty-project-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.planty-qrcode {
    width: 100px;
    height: 100px;
}

.planty-alert {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid aqua;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px aqua;
}

@media screen and (max-width: 700px) {
    .planty-homepage-container {
        margin:0;
    }

    .planty-project-details {
        flex-direction: column;
    }

    .planty-paragraphs {
        margin: 20px 0;
    }

}