<div class="pill-buttons" id="download-button">
    <%= link_to 'CV', telecharger_pdf_pages_path, download: 'cv.pdf' %>
</div>

<div class="pill-buttons" id="mail-button">
    <a href="mailto:annamahe9@gmail.com">Mail</a>
</div>