 <!-- FOOTER -->
<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/anna-mah%C3%A9-98617a13a/"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="footer-copyright">
      <a href="#">Contact</a>
    </div>
  </div>
