 <!-- FOOTER -->
<div class="footer">
    <a href="https://github.com/AnnaMahe9"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/anna-mah%C3%A9/"><i class="fab fa-linkedin"></i></a>
  </div>
