<%# CAROUSEL %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="main-container">
        <h2>Mon parcours</h2>

        <div class="carousel-arrows-container">
          <div class="arrow-container">
            <button class="prev-arrow" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
          </div>
          <div id="carouselExampleControls" class="carousel slide parcours-carousel row" data-bs-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item parcours-paragraph active" data-bs-interval="120000">
                <h4>D'où je viens</h4>
                <p> Vous l’aurez peut-être remarqué dans mes expériences professionnelles ou en regardant mon profil LinkedIn,
                  que j’ai un parcours pour le moins hétéroclite. J’ai su très vite que le monde de l’export et du commerce international
                  n’étaient pas faits pour moi, mais de là s’est posée la question: de quoi ai-je envie?
                </p>
                <p> Plusieurs expériences professionnelles se succèdent sans éveiller de grande passion. C’est en 2018, en découvrant
                  le métier d’intégratrice web de ma colocataire que ma curiosité est piquée. C’est en 2020, en suivant une formation
                  OpenClassroom sur Illustrator que mon attrait vers les métiers de l’informatique se confirme. Finalement, c’est en 2022,
                  en discutant de façon approfondie avec mon entourage que ma décision est prise: je commencerai une formation intensive chez Le Wagon en janvier 2023 !
                </p>
              </div>

              <div class="carousel-item parcours-paragraph" data-bs-interval="120000">
                <h4>Où je suis</h4>
                <p> A travers de nombreux cours, d’autant d’exercices et de pas mal de projets, j'ai acquis une expérience en programmation
                  que ce soit en back-end grâce au framework Ruby On Rails, ou en front-end en utilisant des langages tels que HTML, CSS,
                  JavaScript.
                </p>
                <p> En 9 semaines, je suis passée de novice inexpérimentée à une jeune développeuse capable de concevoir et de
                  créer des bases de données, d’interagir avec les données qui y sont présentes et d’y faire appel en suivant le modèle MVC
                  (Model - View - Controller). J'ai également travaillé sur des projets qui m’ont permis d’approfondir mes compétences en matière de
                  développement web et m'ont permis d'améliorer mes compétences en travail d'équipe et en résolution de problèmes.
                </p>
              </div>

              <div class="carousel-item parcours-paragraph" data-bs-interval="120000">
                <h4>Où je vais</h4>
                <p> Je suis convaincue que ma courbe d’apprentissage ne peut pas s’arrêter là, je garde une forte volonté d'apprendre
                  et de m'adapter aux nouvelles technologies. Mon ambition pour la suite est donc d’agrandir mon répertoire technique
                  grâce à de nouveaux langages en back-end (Node.js, Java) et en front-end (React, Angular).
                </p>
                <p> Mon objectif idéal serait de réussir à intégrer une équipe prête à me donner ma chance et de travailler dur pour
                  réaliser avec succès les tâches qui me sont confiées.
                </p>
              </div>
            </div>
          </div>
          <div class="arrow-container">
            <button class="next-arrow" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>


        <div class="parcours-presentation">
          <p id="end-presentation">Alors n’hésitez pas à me contacter sur LinkedIn où à m’envoyer un mail, les deux sont dans le footer 🙂 </p>
        </div>
      </div>
      
    </div>
  </div>
</div>

