<div class="main-container">
    <h1> <a href="/#projects"><i class="fa-solid fa-angle-left back-button"></i></a> Bienvenue sur le projet Pawsome</h1>
    <div class="homepage">
        <a href="https://pawsome-annamahe9.herokuapp.com/" target="_blank"> <%= image_tag "projects/pawsome-homepage.png", class:"pawsome-homepage" %></a>
    </div>
    <div class="pawsome-presentation-paragraph">
        <p>Projet intermédiaire du bootcamp, Pawsome est un site type market place qui permet de louer des animaux exotiques entre particuliers. 
        Vous pouvez vous inscrire et louer des animaux rares ainsi qu'ajouter vous-même votre collection personnelle.</p>
        <p>Bien évidemment, même si cela n'est pas un projet "sérieux", cela nous a permis de mieux appréhender la conception d'un site internet, tout en étant challengé sur le temps (cela s'est fait en 4 jours de codage !)</p>
    </div>

    <p>Vous souhaitez partager votre tarantule ou louer un dragon de Komodo?</p>

    <div class="button">
        <a href="https://pawsome-annamahe9.herokuapp.com/" target="_blank" >C'est par ici !</a>
    </div>

</div>
