<div class="main-container">
  <h1> <a href="/#projects"><i class="fa-solid fa-angle-left back-button"></i></a> Bienvenue sur le projet Planty Secrets</h1>
  <div class="planty-project-details">

        <div class="planty-homepage-container">
            <a href="https://www.planty-secrets.site" target="_blank"> <%= image_tag "projects/planty-homepage.png", class:"planty-homepage" %></a>
        </div>

        <div id="planty-paragraphs">
            <p>Projet de fin de bootcamp et surtout web application créée pour des <strong>téléphones portables</strong>, Planty-Secrets est une application qui non seulement reconnaît les plantes grâce à une photo, 
                mais est également capable de donner les vertus médicinales de ces plantes ! Vous pouvez par la suite mettre les plantes qui vous intéressent en favoris et créer des listes de plantes.
            </p>

            <div class="planty-alert text-center">
                <p>Il n'existe qu'un utilisateur test à ce jour.</p>
                <i class="fa-solid fa-at" style="color: #00ffff;"></i> chanchandu44@yahoo.com
                <br>
                <i class="fa-solid fa-key fa-flip-both" style="color: #00ffff;"></i> 123456
                </div>
                <p class="text-center">Vous souhaitez en savoir plus sur les vertus médicales des plantes?</p>
                <div class="button" id="planty-project-button">
                    <%= image_tag "projects/planty-qr-code.png", class:"planty-qrcode" %>
                    <a href="https://www.planty-secrets.site" target="_blank" >C'est par ici !</a>
                </div>
                    <p class="text-center">Pour une meilleure expérience, il est préférable de scanner le QR code depuis votre téléphone</p>
                </div>
            </div>
        </div>
    </div>
</div>
