// HOME PAGE
.cards {
  margin-top: 20px;
}

.language-categories {
  margin: 30px 0;
  background-color: black;
  width: 100%;
  padding: 20px;
  justify-content: space-evenly;
  border-bottom: 1px solid aqua;
  border-top: 1px solid aqua;
  box-shadow: 0 0 5px aqua;
  border-radius: 10px;
}

.cards-category {
  justify-content: space-evenly;
  text-align: center;
}

.language {
  width: 80px;
  height:90px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.card-img-top {
  height: 60px;
  width: 100%;
  object-fit: contain;
}

.card-language-text {
  color: black;
  font-size: 10px;
}

.card-body-category p {
  padding: 0;
}

// PROJECTS
.projects-cards {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 100%;
  background-color:black;
  height: 30rem;
  margin-bottom: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 33%;
  margin: 20px;
  padding: 20px;
  color: white;
  border: 1px solid aqua;
  border-radius: 10px;
  transition: 0.6s;
  box-shadow: 0 0 15px aqua;
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  padding: 5px;
}

.infos {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  transition: transform 1.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.infos:hover {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg) translateZ(80px);
}

// EXPERIENCES & FORMATIONS
.experiences {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
}

.card-experience {
  width: 20rem;
  height: 30rem;
  background: black;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
  box-shadow: 0 0 5px aqua;
  text-align: center;
  margin: auto;
}

.card-experience img {
  height: 120px;
  width: 140px;
  margin: 10px;
  object-fit: contain;
}

.card-experience h5 {
  height:70px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.card-experience p {
  text-align: left;
}

.formations-container {
  margin-top: 50px;
}